// Madelyn Torff
color: #25282B;
 font-size: 18px;
 font-family: Comfortaa;
 font-weight: 700;
 line-height: 32.40px;
 word-wrap: break-word
---
// About
color: #25282B;                                                                                                                                                           
 font-size: 18px;

 font-family: Raleway;
 font-weight: 500;
 line-height: 28px;
 wrd-wrap: break-word

---
// Projects
color: #25282B;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word

---
// Contacts
color: #25282B;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word
---
// Projects
color: #25282B;
 font-size: 48px;
 font-family: Playfair Display;
 font-weight: 700;
 line-height: 72px;
 word-wrap: break-word
---
// Project Name
color: #25282B;
 font-size: 40px;
 font-family: Playfair Display;
 font-weight: 700;
 line-height: 60px;
 word-wrap: break-word
---
// I created this personal project in order to show how to create an interface in Figma using a portfolio as an example.
color: #828282;
 font-size: 18px;
 font-family: Nunito;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// View Project
color: #25282B;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 27px;
 word-wrap: break-word
---
// Project Name
color: #25282B;
 font-size: 40px;
 font-family: Playfair Display;
 font-weight: 700;
 line-height: 60px;
 word-wrap: break-word
---
// What was your role, your deliverables, if the project was personal, freelancing.
color: #828282;
 font-size: 18px;
 font-family: Nunito;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// View Project
color: #25282B;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 27px;
 word-wrap: break-word
---
// Project Name
color: #25282B;
 font-size: 40px;
 font-family: Playfair Display;
 font-weight: 700;
 line-height: 60px;
 word-wrap: break-word
---
// You can also add in this description the type of the project, if it was for web, mobile, electron.
color: #828282;
 font-size: 18px;
 font-family: Nunito;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// View Project
color: #25282B;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 27px;
 word-wrap: break-word
---
// UI/UX Designer
color: #FDC435;
 font-size: 20px;
 font-family: Nunito;
 font-weight: 700;
 text-transform: uppercase;
 word-wrap: break-word
---
// Hello,  my name is Madelyn Torff
color: #333333;
 font-size: 64px;
 font-family: Playfair Display;
 font-weight: 700;
 line-height: 76.80px;
 word-wrap: break-word
---
// Short text with details about you, what you do or your professional career. You can add more information on the about page.
color: #828282;
 font-size: 24px;
 font-family: Nunito;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Projects
color: #25282B;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 27px;
 word-wrap: break-word
---
// LinkedIn
color: #25282B;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 27px;
 word-wrap: break-word
---
// Name
color: #25282B;
 font-size: 16px;
 font-family: Nunito;
 font-weight: 600;
 word-wrap: break-word
---
// Email
color: #25282B;
 font-size: 16px;
 font-family: Nunito;
 font-weight: 600;
 word-wrap: break-word
---
// Message
color: #25282B;
 font-size: 16px;
 font-family: Nunito;
 font-weight: 600;
 word-wrap: break-word
---
// Send
color: #25282B;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 27px;
 word-wrap: break-word
---
// Madelyn Torff 2021 
color: #828282;
 font-size: 16px;
 font-family: Nunito;
 font-weight: 400;
 word-wrap: break-word
---
// Projects
color: #25282B;
 font-size: 48px;
 font-family: Playfair Display;
 font-weight: 700;
 line-height: 72px;
 word-wrap: break-word